
/* regole CSS */
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


header {
    background-image: url('https://images.pexels.com/photos/12024196/pexels-photo-12024196.jpeg?_gl=1*1nq70l2*_ga*MTAzNTI1Njk5Ni4xNzc4MDYwNzI0*_ga_8JE65Q40S6*czE3NzgwNzE0MzIkbzIkZzEkdDE3NzgwNzE0NjEkajMxJGwwJGgw');
    background-size: auto;
    background-position: center;
    width: 50%;
    text-align: center;

}

header h1{
    color: white;
    font-size: 3em;
}

header h3{
    color: white;
    font-size: 1.5em;
}


nav a:hover {
    color: red;
    background-color: black;
}

nav a {
    color: white;
}

form {
    background-color: beige;
}

footer {
    background-color: #102D4D;
    text-align: center;
    color: white;
}

button {
    background-color: #102D4D;
    color: white;
    border: none;
}

.comp li:nth-child(odd) {
    background-color: #0246902b;
}   

.comp li:first-child {
    font-weight: bold;
}

#project {
    background-color: rgb(241, 230, 8, 0.35);
}



