*, *::before, *::after {
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-size: 1.1rem;
}


header {
    background-image: url('https://images.pexels.com/photos/12024196/pexels-photo-12024196.jpeg?_gl=1*1nq70l2*_ga*MTAzNTI1Njk5Ni4xNzc4MDYwNzI0*_ga_8JE65Q40S6*czE3NzgwNzE0MzIkbzIkZzEkdDE3NzgwNzE0NjEkajMxJGwwJGgw');
    background-size: auto;
    background-position: center;
    width: 100%;
    text-align: center;
}

header h1{
    color: white;
    font-size: 3em;
}

header h3{
    color: white;
    font-size: 0.9em;
}


nav li {
    display: inline-block;
    list-style: none;
    padding: 4px solid white ;
    margin: 0 4px;
    border-radius: 4px;
}


nav a:hover {
    color: red;
    background-color: black;
    border-radius: 20%;
    margin: 0 auto;
}

nav a {
    color: white;
}

main, form {
    max-width: 920px;
    margin: 0 auto;
    padding: 40px 20px;
}


main section {
    padding: 32px;
    margin-bottom: 24px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

main section h2::before {
    content:"- ";
    color: gold;
}

.image img {
    width: 110px;
    height: 110px;
    margin: 0 24px 12px 0;
    border-radius: 50%;
    border: 4px solid gold;
}

.image img:first-child {
    float: left;
}

.capolettera::first-letter {
    font-size: 2em;
    color: #102D4D;
}

.capolettera {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #102D4D;
}

form {
    background-color: beige;
}


input::placeholder, textarea::placeholder {
    color: #d3d2d2dc;
    font-style: italic;
}

input:hover, textarea:hover, select:hover {
    background-color: #e0e0e0;
}


button {
    background-color: #102D4D;
    color: rgb(251, 251, 252);
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0.1);
    padding: 15px 50px;
}


button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0.15);
}

.comp li:nth-child(odd) {
    background-color: #0246902b;
}   

.comp li:first-child {
    font-weight: bold;
}

#project {
    background-color: rgb(241, 230, 8, 0.35);
    background-size: auto;
}


footer {
    background-color: #102D4D;
    text-align: center;
    height: 150px;
    color: white;
}

footer p{
    padding-top: 70px;
}




#project h3::after {
    content: "NEW";
    display: inline-block;
    padding:2px 8px;
    margin-right: 12px;
    color: white;
    background-color: red;
    border-radius: 3px;
    font-size: 0.75rem;
    margin-left: 12px;
}




